<mat-progress-bar mode="determinate"
                  [color]="color"
                  [value]="strength">
</mat-progress-bar>
<div>
<!--password input filed-->
<!-- <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput #passwordWithValidation
           [type]="inputType"
           required
           [formControl]="passwordComponentWithValidation.passwordFormControl"
           placeholder="Password"> -->
    <!--password hint-->
    <!-- <mat-hint align="end" aria-live="polite">
      {{passwordWithValidation.value.length}} / 25
    </mat-hint> -->
    <!--password error msgs-->
    <!-- <mat-error *ngIf="passwordComponentWithValidation.passwordFormControl.hasError('required')">
        Password is required
    </mat-error>
    <mat-error *ngIf="passwordComponentWithValidation.passwordFormControl.hasError('pattern')">
      Password is not valid
    </mat-error>
  
  </mat-form-field> -->
  <!--@angular-material-extensions/password-strength's main component-->
<!-- <mat-password-strength #passwordComponentWithValidation
(onStrengthChanged)="onStrengthChanged($event)"
[password]="passwordWithValidation.value">
</mat-password-strength> -->